<!-- angular forms  -->
 <!-- 1. template driven    -->
  <!-- Dirctives-convention(ngModel) form tag used create form 
   angular  automaticaly interpret and create the form object with help of the directive-->
   <!-- Module classes- controll can be added to the form using the ng model tag multiple  control can be grouped using ng control group moduel -->
<!-- JSON VALUES- form values can be genrated using form.value object form data exporeted as jsonvalues when the submit method is called -->

<!-- validation - basic html validation can be used to validate th efiled in cases custom validation directive can be used -->

  <!-- 2. Reactive Forms-->
   <!-- 1.componate manges the data flow betwen the form controles and data model  -->
    <!-- 2.code -driven approch-->
     <!--3. no two way dat binding -->
     <!-- Synchronous creation  -->


                                                <!-- form control  -->

     <!-- form control is a class that enables validation
          for each input field an instance of this class is created this instance
           help check hte values of the field and see if they are touched untouched and dirty -->


                                           <!-- grouping controls or form group  -->

<!--   formgroup is a class represents group of controls 
      a form can have multple control groups  -->
      <!-- the form group class retrubs true if all the controlls are vlaid -->
       <!-- it also provide all validation errors -->


       <app-form></app-form>




